#footer {
    text-align: center;
    clear: both;
    padding: 5px 0 0 0;
}

#footer ul {
    padding: 0;
    min-height: 1.6rem;
}

#footer li {
    list-style: none;
    display: inline-block;
}

#categories {
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
#category {
    display: inline-block;
    padding: 0;
    margin: 1rem;
}
.pagination {
    text-align: right;
}

#category span {
  position: relative;
}

#category span::before, #category span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #211d1e;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

#category span::before {
  left: -3px;
  transform-origin: center top;
}

#category span:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

#category span::after {
  right: -3px;
  transform-origin: center bottom;
}

#category span:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}

#link {
    display: block;
    text-align: center;
    margin: 0 auto;
}

[class*="fa-"]::before {
    content:"@";
}

#wechat {
    cursor: pointer;
}

.qrcode {
    display: none;
    max-width: 10rem;
    max-height: 10rem;
    padding: 0;
    margin-top: -12rem;
    margin-left: 0 auto;
}

#wechat:hover + .qrcode{
    display: block;
}
