{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        {{.Content}}
    </article>
    <ul id="articles">
    {{ range .Paginator.Pages }}
        <li id="article">
            <a href="{{.Permalink}}">
                <span>
                    <font class="date">{{.Date.Format (.Site.Params.dateform | default "Jan 2006")}}</font> | {{.Title}}
                </span>
            </a>
            <p>
            {{ substr (.Summary | plainify) 0 150 }}
            </p>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}
