{{ define "main" }}
<section id="main">
  <h1>{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>

<aside>
    <h4 id="signature">{{ .Date.Format "Mon Jan 2, 2006" }} cheon</br>{{ .Lastmod.Format "Mon Jan 2, 2006" }} update</h4>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics/" | absURL}}/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul class="tags">
      {{ range . }}
        <li> <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    <ul class="related">
        {{ with .PrevInSection }}
        <li><a class="previous" href="{{.Permalink}}"> {{.Title}}</a></li>
        {{ end }}
        {{ with .NextInSection }}
        <li><a class="next" href="{{.Permalink}}"> {{.Title}}</a></li>
        {{ end }}
    </ul>
</aside>
{{ end }}
