<head>
    <meta charset="utf-8">
    <meta name="description" content={{ .Site.Params.description }}>

    <link rel="icon" href={{ "/favicon.ico" | relURL }}>
    <link rel="stylesheet" href={{ "css/global.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/nav.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/header.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/index.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/list.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/single.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/footer.css" | relURL }}>
    {{ if not .Site.Params.disableWebFonts }}
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Noto+Sans+SC|Old+Standard+TT&display=swap" rel="stylesheet">
    {{ end }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>{{ .Site.Params.sitename }}</title>

</head>
