<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">

    <link rel="stylesheet" href={{ "css/global.css" | absURL }}>
    <link rel="stylesheet" href={{ "css/nav.css" | absURL }}>
    <link rel="stylesheet" href={{ "css/header.css" | absURL }}>
    <link rel="stylesheet" href={{ "css/index.css" | absURL }}>
    <link rel="stylesheet" href={{ "css/list.css" | absURL }}>
    <link rel="stylesheet" href={{ "css/single.css" | absURL }}>
    <link rel="stylesheet" href={{ "css/footer.css" | absURL }}>
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono|Noto+Sans+SC|Old+Standard+TT&display=swap" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
