<head>
    <meta charset="utf-8">
    <meta name="description" content={{ .Site.Params.description }}>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes= "76x76" href={{ "/img/apple-touch-icon.png" | relURL }}>
    <link rel="icon" href={{ "/img/pen.svg" | relURL }}>
    <link rel="stylesheet" href={{ "css/global.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/nav.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/header.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/index.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/list.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/single.css" | relURL }}>
    <link rel="stylesheet" href={{ "css/footer.css" | relURL }}>
    {{ if not .Site.Params.disableWebFonts }}
    <link href="https://fonts.font.im/css?family=Fira+Mono|Noto+Sans|Old+Standard+TT" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    {{ end }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    {{ if eq .Kind "page" }}
    <script src={{ "js/single.js" | relURL }}></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.min.js" async></script>
    {{ end }}
    <title>{{ .Site.Params.sitename }}</title>

</head>
