{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section>
    <ul id="pages">
    {{ range .Paginator.Pages }}
        <li id="page">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <ul class="tags">
                <li class="time"><time>{{ .Date.Format (.Site.Params.dateform | default "January 2006") }}</time></li>
            {{ with .Params.tags }}
              {{ range . }}
                <li> <a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a> </li>
              {{ end }}
            </ul>
            {{ end }}
        </li>
    {{ end }}
    </ul>
</section>

{{ partial "footer.html" . }}
